<div class="list">
	<div class="actions">
		a
	</div>
	<button class="button is-success">End Turn</button>
</div>


@code {
	[Parameter]
	public int PlayerID { get; set; }
	[Parameter]
	public Game Game { get; set; } = new();
}