<div class="board">
	@for (int y = 0; y < 5; y++)
	{
		@for (int x = 0; x < 5; x++)
		{
			Planet p = Map.GetPlanet(x, y);
			<div class="cell">
				<svg viewBox="0 0 256 256" width="100%">
					<image href="@GetPlanetImage(p.Kind)" width="100%" height="100%" />
					@if (p.Kind is not (PlanetKind.EMPTY or PlanetKind.OUTPOST))
					{
						<text>
							<text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" stroke="white" font-weight="bold" font-size="150%">@p.Number</text>
						</text>
					}
				</svg>
			</div>
		}
	}
</div>

@code {
	[Parameter]
	public Map Map { get; set; } = null!;

	private static string GetPlanetImage(PlanetKind kind) => kind switch
	{
		PlanetKind.GRAVITRONIUM => "/img/GravitroniumPlanet.png",
		PlanetKind.COBALT => "/img/CobaltPlanet.png",
		PlanetKind.OXYGEN => "/img/OxygenPlanet.png",
		PlanetKind.FOOD => "/img/FoodPlanet.png",
		PlanetKind.WATER => "/img/WaterPlanet.png",
		PlanetKind.OUTPOST => "/img/Outpost.png",
		PlanetKind.EMPTY => "/img/EmptyPlanet.png",
		_ => ""
	};
}