@page "/howtoplay"

<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-hidden-mobile"></div>
			<div class="column is-two-thirds box has-background-dark has-text-light">
				<div class="has-text-centered mb-6">
					<p class="title is-1 has-text-light">How to play</p>
				</div>

				<div class="has-text-centered">
					<p class="title has-text-light">
						Introduction
					</p>
					<p>
						Cosmic Colonies is a strategy game where 4 players battle for control of the cosmos.
					</p>
					<br />
					<p>
						To win, you must establish 5 Colonies.<br />
						You start with one Colony, and then you expand your empire by building Hyperbridges to other planets to build even more Colonies.
					</p>
					<br />
					<p>
						However, in order to build Hyperbridges and Colonies, you will need resources. <br />
						Planets you colonize will give you resources, which you can use to build.
					</p>
					<br />
					<p>
						Here is a list of resources and their planets:
					</p>
					<br />
					<div class="columns is-mobile">
						<div class="column">
							<strong>Resource</strong>
						</div>
						<div class="column">
							<strong>Card</strong>
						</div>
						<div class="column">
							<strong>Planet</strong>
						</div>
					</div>
					<div class="tile is-ancestor">
						<div class="tile is-parent is-vertical">
							<article class="tile is-child">
								Gravitronium
							</article>
							<article class="tile is-child">
								Cobalt
							</article>
							<article class="tile is-child">
								Oxygen
							</article>
							<article class="tile is-child">
								Food
							</article>
							<article class="tile is-child">
								Water
							</article>
						</div>
						<div class="tile is-parent is-vertical">
							<article class="tile is-child">
								<img src="/img/Gravitronium.png" />
							</article>
							<article class="tile is-child">
								<img src="/img/Cobalt.png" />
							</article>
							<article class="tile is-child">
								<img src="/img/Oxygen.png" />
							</article>
							<article class="tile is-child">
								<img src="/img/Food.png" />
							</article>
							<article class="tile is-child">
								<img src="/img/Water.png" />
							</article>
						</div>
						<div class="tile is-parent is-vertical">
							<article class="tile is-child">
								<img src="/img/GravitroniumPlanet.png" />
							</article>
							<article class="tile is-child">
								<img src="/img/CobaltPlanet.png" />
							</article>
							<article class="tile is-child">
								<img src="/img/OxygenPlanet.png" />
							</article>
							<article class="tile is-child">
								<img src="/img/FoodPlanet.png" />
							</article>
							<article class="tile is-child">
								<img src="/img/WaterPlanet.png" />
							</article>
						</div>
					</div>
					<hr />
					<p>
						Among these resource-rich planets is the desolate empty planet:
					</p>
					<img class="small" src="/img/EmptyPlanet.png" />
					<p>
						It yields no resources.
					</p>
					<br />
					<p>
						In addition to the planets, there are four Outposts on the map:
					</p>
					<img class="small" src="/img/Outpost.png" />
					<p>
						The Outposts can be used to exchange resources at a lower rate.
					</p>
					<hr />
					<p class="title has-text-light">
						Gameplay
					</p>
					<p>
						At the beginning of the game, all players place one Colony, then one Hyperbridge adjacent to their Colony.
					</p>
					<br />
					<p>
						After the setup phase, normal gameplay begins.<br />
						On any players turn, a random number from 1 to 4 is selected. <br />
						Every player that has a colony on a planet with the selected number gets 1 of the planet's resource.<br />
					</p>
					<br />
					<p>
						Next, the player can exchange 4 of one kind of resource for 1 of another, OR 2 of of a kind if they have a Colony on an Outpost.
					</p>
					<br />
					<p>
						Then, the player can use their resources to buy things to expand their empire:
					</p>
					<br />
					<div class="columns is-mobile">
						<div class="column">
							<strong>Item</strong>
						</div>
						<div class="column">
							<strong>Price</strong>
						</div>
						<div class="column">
							<strong>Use</strong>
						</div>
					</div>
					<div class="tile is-ancestor border">
						<div class="tile is-parent is-vertical">
							<article class="tile is-child">
								Hyperbridge
							</article>
							<article class="tile is-child">
								Colony
							</article>
							<article class="tile is-child">
								Chaos Card
							</article>
						</div>
						<div class="tile is-parent is-vertical">
							<article class="tile is-child">
								<ul>
									<li>1 Gravitronium</li>
									<li>1 Oxygen</li>
									<li>1 Food</li>
								</ul>
							</article>
							<article class="tile is-child">
								<ul>
									<li>1 Gravitronium</li>
									<li>1 Oxygen</li>
								</ul>
							</article>
							<article class="tile is-child">
								<ul>
									<li>1 Cobalt</li>
									<li>1 Food</li>
									<li>1 Water</li>
								</ul>
							</article>
						</div>
						<div class="tile is-parent is-vertical">
							<article class="tile is-child">
								Connects Colonies to other planets
							</article>
							<article class="tile is-child">
								Build 5 of these to win. Allows for extracting resources from planets
							</article>
							<article class="tile is-child">
								What could possibly go wrong?
							</article>
						</div>
					</div>
					<hr />
					<p>
						The last element of Cosmic Colonies is the Chaos Card.<br />
						The Chaos Card, as the name suggests, is designed to cause chaos.<br />
						It can steal resources from other players, nuke your enemies off the map, cause everybody to lose resources, and more.<br />
						Because of its vast power, you can only use one per turn. (You can buy as many as you want though)
					</p>
					<hr />
					<a class="button is-success is-large" href="/signup?redirectUri=/play">Play now!</a>
				</div>
			</div>
			<div class="column"></div>
		</div>
	</div>
</section>