@page "/"

<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-hidden-mobile"></div>
			<div class="column is-two-thirds box has-background-dark has-text-light">
				<div class="has-text-centered mb-5">
					<p class="title is-1 has-text-light">Cosmic Colonies</p>
				</div>
				<p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
			</div>
			<div class="column"></div>
		</div>
	</div>
</section>